html {
    min-height: 100%;
    scroll-behavior: smooth;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: url(https://kazakh-tv.kz/upload/anounces/big_44698e05a73ae8f534ed91e489aa51a6.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand img {
    width: 80px;
    border-radius: 20px;
}

.navbar-expand-md {
    background-color: #1A2A45;
    border-radius: 0 0 20px 20px;
}

.navbar-nav li {
    padding-right: 20px;
}

#cities {
    border-radius: 10px;
    width: 70%;
    background-color: white;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown .dropdown-item:hover {
    color: white;
    background-color: #9DB1CA;
}

.nav-link {
    font-size: 1em !important;
}

#go, #send, #buy {
    background-color: #1a2a45;
    border-color: white;
}

#go:hover, #send:hover, #buy:hover {
    background-color: white;
    border-color: #1a2a45;
}

#buy {
    color: white;
}

#yourcity,
#gen,
#go,
#send,
#buy {
    border-color: white;
    font-size: 1em !important;
}

main {
    min-height: 600px;
    border: 5px solid #1a2a45;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

footer {
    padding-top: 20px;
    position: relative;
    bottom: 0;
    border-top: 4px solid #ccc;
    border-radius: 20px 20px 0 0;
    color: #ffffff;
    background-color: #1A2A45;
}

.foot{
    width: 100%;
    min-height: 10vh;
}

.social a {
    font-size: 2em;
    padding: 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-instagram {
    color: #E44569;
}

.fa-twitter {
    color: #00aced;
}

.fa-facebook-square:hover,
.fa-instagram:hover,
.fa-twitter:hover {
    color: #ccc;
}

.foot {
    padding: 0 30px 0 30px;
}

.links a {
    color: #808392;
    font-size: 1.1em;
}

.links a:hover {
    color: white;
    text-decoration: none;
}

.infos {
    background-color: #1A2A45;
    opacity: 0.8;
    border-radius: 20px;
}

.infos h1 {
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    font-family: 'Zilla Slab', serif;
}

.infos p {
    font-family: 'Cormorant Garamond', serif;
    color: #ffffff;
    font-size: 25px;
}

#send {
    border-color: white;
}

#send:hover {
    background-color: white;
}

.feedback-form {
    color: white;
    box-shadow: 0 0 30px;
    background-color: #1A2A45;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 20px;
}

.feedback-section {
    margin-bottom: 300px;
    color: white;
}

.gridd {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.gridd div {
    text-align: center;
    border: 1px solid gray;
}

.mainschedule{
    cursor: pointer;
}

.mainschedule:hover {
    background-color: lightgrey;
}

.card img {
    height: 350px;
}

.city {
    text-align: center;
}

.city:hover {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    text-align: center;
}

.news {
    cursor: pointer;
}

.news img {
    border-radius: 10px;
}

.result{
    border-top: 1px solid #ccc;
}
.result a{
    text-decoration: none;
}
.genre-img{
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 1199px) {
    .links {
        font-size: 1.6em;
    }
}

@media (max-width: 768px) {
    .links {
        font-size: 1.1em;
    }
}

@media (max-width: 767px) {
    .mobile-links {
        display: flex;
    }
}

@media (max-width: 413px) {
    .mobile-links {
        flex-direction: column;
    }
}